{% extends 'base.html' %}
{# register-driver.html - public driver sign-up (drivers.views.register_driver). #}

{% block title %} Driver Registration {% endblock %}
{% block body_class %}auth{% endblock %}

{% block content %}
    <h1>Driver Registration</h1>
    <div class="card">
        {# {{ form.as_p }} renders all fields of DriverRegistrationForm. #}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register Driver</button>
        </form>
    </div>
{% endblock %}
