{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title here, replace it in the child file {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="#" class="hospital-name">HN-UHAMS</a>

            <ul class="menu">
                <li><a href="#">Overview</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Settings</a></li>
            </ul>

            <div class="user-profile">
                <img src="{% static 'images/horse-profile-pic.jpg' %}" width="20px">
                <span class="user-name">Ahmed</span>
            </div>
        </nav>
    </header>

    <hr>
    <main>
        {% block content %}
        content here, replace it with page's content
        {% endblock %}
    </main>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>