{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <p>Choose the type of account you need:</p>
    <ul class="link-list">
        <li>Need a staff account? <a href="{% url 'register_staff' %}">Sign up here</a></li>
        <li>Need a patient account? <a href="{% url 'register_patient' %}">Sign up here</a></li>
        <li>Need a doctor account? <a href="{% url 'register_doctor' %}">Sign up here</a></li>
        <li>Need a driver account? <a href="{% url 'register_driver' %}">Sign up here</a></li>
    </ul>
{% endblock %}
